.card-wrapper {
  display: flex;
  flex-flow: wrap;
}
.card-box {
  font-family: 'Hind', sans-serif;
  text-transform: uppercase;
  flex: 1 0 400px;
  height: 480px;
  min-width: 440px;
  max-width: 500px;
  // background-color: #fdfdfd;
  background-color: #fafafa;
  margin: 30px;
  padding: 20px;
  border-radius: 2px;
  h3 {
    font-size: 24px;
    margin-right: 50px;
    height: 60px;
  }
  .time-component {
    margin-right: 20px;
  }
  .no-data-info {
    font-size: 25px;
    margin: 67px 0px;
  }
  .lead-conversion {
    margin-bottom: 20px;
  }
  .conversion-amount {
    margin-right: 50px;
  }
  .bar-diagram {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    position: relative;
    padding: 20px;
    .capture-rate, .interaction-rate {
      font-size: 12px;
      right: 0;
      margin-right: -80px;
      width: 150px;
    }
    .text {
      left: 0;
      width: 110px;
    }
    .text, .capture-rate, .interaction-rate {
      display: flex;
      align-items: center;
      height: 50px;
      position: absolute;
      justify-content: flex-end;
    }
    .result {
      font-size: 12px;
      line-height: 1;
      width: 100%;
      height: 40px;
      margin-left: 110px;
      background-color: #f1f1f1;

      &:after {
        content: "";
        display: block;
        background-color: #98c1af;
        width: 50px;
        margin-bottom: 10px;
        height: 90%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    @for $bar-width from 1 through 1000 {
      .result-#{$bar-width} {
        &:after{
          $value: ($bar-width * 1px);
          width: $value;
        }
      }
    }
  }
}
