#root {
  background-color: #f5f5f5;
}
.card-wrapper {
  display: flex;
  flex-flow: wrap;
}
.card-box {
  flex: 1 0 400px;
  height: 400px;

  background-color: #fdfdfd;
  margin: 30px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 7px #dcdcdc;
}
.page-heading {
  text-align: center;
  margin-top: 40px;
}
.dropdown {
    display: inline-block;
}
.dropdown__content {
    display: none;
    position: absolute;
}
.dropdown--active .dropdown__content {
    display: block;
}
.goal-dropdown-link {
  list-style: none;
  padding: 5px;
}
.goal-dropdown-quick-links {
  padding-left: 0px;
  background-color: white;
  box-shadow: 0px 0px 5px #d0d0d0;
}
.goal-dropdown {
  margin-left: 50px;
}
.goal-dropdown-name {
  padding-left: 5px;
}
ul.pagination {
  margin-right: 300px;
  margin-left: 30px;
}
.pagination > .active > a {
  background-color: grey !important;
  border-color: grey !important;
  color: white !important;
}
.pagination > li > a {
  color: grey !important;
}
