#root {
  background-color: #909090;
}
.container {
  margin: 0px !important;
  padding: 0px !important;
  width: 100% !important;
}
.page-heading {
  font-size: 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}
ul.pagination {
  margin-right: 300px;
  margin-left: 48px;
}
.pagination > .active > a {
  background-color: #616161 !important;
  border-color: #616161 !important;
  color: white !important;
}
.pagination > li > a {
  color: #616161 !important;
  cursor: pointer;
}
